<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.qlw.shopping.api.mapper.PmsBaseAttrValueMapper">
  <resultMap id="BaseResultMap" type="com.lx.qlw.shopping.api.bean.PmsBaseAttrValue">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="value_name" jdbcType="VARCHAR" property="valueName" />
    <result column="attr_id" jdbcType="BIGINT" property="attrId" />
    <result column="is_enabled" jdbcType="VARCHAR" property="isEnabled" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, value_name, attr_id, is_enabled
    from pms_base_attr_value
  </select>
</mapper>