<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.qlw.shopping.api.mapper.PmsProductSaleAttrValueMapper">
  <resultMap id="BaseResultMap" type="com.lx.qlw.shopping.api.bean.PmsProductSaleAttrValue">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="sale_attr_id" jdbcType="BIGINT" property="saleAttrId" />
    <result column="sale_attr_value_name" jdbcType="VARCHAR" property="saleAttrValueName" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, sale_attr_id, sale_attr_value_name
    from pms_product_sale_attr_value
  </select>
</mapper>